
.hljs-keyword {
    color: #cf8e6d;
}
.hljs-built_in {
    color: #cf8e6d;
}
.hljs-variable {
    color: #c77dbb;
}
.hljs-type {
	color: #000000;
}
.hljs-title.class_ {
    color: #000000;
}
.hljs {
    color: #000000;
}
.hljs-params {
    color: #000000;
}
.hljs-variable.language {
    color: #cf8e6d;
}
.hljs-title {
    color: #56a8f5;
}
.hljs-keyword {
    color: #cf8e6d;
}
.hljs-literal {
    color: #cf8e6d;
}
.hljs-string {
    color: #6aab73;
}
.hljs-number {
    color: #2aacb8;
}

#cursor {
    display: inline-block;
	color: black;
	background-color: black;
    width: 3px;
    height: 1.3em;
	bottom: 0.3em;;
    animation: blink 0.5s infinite;
    vertical-align: middle;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}