#codeEntry {
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
}

pre>code {
	transform: scale(1);
	font-family: 'JetBrains Mono', monospace;
	font-size: 1.6vw;
	padding: 10px;
	border-radius: 5px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
	overflow: hidden !important;
}

pre {
	transform: scale(1);
    position: absolute;
    bottom: 0;
	overflow: hidden;
	word-break: break-word;
}