.linek {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	align-items: center;
	width: 70%;
	height: 70%;
	margin: 12%;
}

body {
	overflow-x: hidden;
	background-color: white;
}

.linekin {
	width: 200px;
	height: 200px;
	margin: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid white;
}

.boardFull {
	display: flex;
	justify-content: flex-start;
	background-color: rgba(0, 0, 0, 0);
	align-items: center;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	position: relative;
	transform: scale(1);
	transition: transform 0.3s;
}

.titleLeftImage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18vw;
	height: 18vw;
	position: absolute;
	left: 17%;
}

.titleLeftImage img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.separator {
	flex: 0.9 1 16%;
}

.titleTextRight {
	position: relative;
	width: 50%;
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.titleTextRight h1 {
	font-size: 4vw;
}

.titleTextRight h2 {
	font-size: 3.2vw;
}

.titleTextRight h3 {
	font-size: 2.5vw;
}

.titleTextRight h4 {
	font-size: 1.7vw;;
}

.titleTextRight p {
	font-size: 2.5vw;
}

.titleTextRight > h1, h2, h3, h4, p {
	white-space: nowrap;
	font-family: 'SourceHanSansCN-Medium', sans-serif;
}

.titleTextRight > b {
	white-space: nowrap;
	font-family: 'SourceHanSansCN-Bold', sans-serif;
}

@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url('../resources/fonts/SourceHanSansCN-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SourceHanSansCN-Heavy';
  src: url('../resources/fonts/SourceHanSansCN-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'SourceHanSansCN-Medium';
  src: url('../resources/fonts/SourceHanSansCN-Medium.otf') format('opentype');
}