#animateCanvas {
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
}

.interactiveMouseBoard {
	transition: transform 0.3s ease-in-out;
}

.interactiveMouseBoard:hover {
    transform: scale(1.18);
}

.animateOutboard {}

.animatedElement {}

.animateMaintainer {}

.animateFocus {}