* {
	margin: 0;
	padding: 0;
}

#loadingSpace {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9997;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas1 {
    position:absolute;
	color: White;
    z-index:9999;
}
#canvas2 {
    position:absolute;
	color: White;
    z-index:9998;
}


.titleHead {
	margin: 0;
	list-style: none;
	
	position: fixed;
	background-color: #3f3f3f;
	
	top: 0;
	left: 0;
	width: 100%;
	height: 8%;
	
	opacity: 0.8;
}

.titleHead img {
	position: absolute;
	
	top: 20%;
	left: 1%;
	height: 60%;
}

.titleHead h2 {
	position: absolute;
	display: inline-block;
	color: white;
	
	top: 20%;
	left: 4.6%;
	font-size: 210%;
	
	text-align: center;
}

.titleHead ul {
	position: absolute;
	text-align: right;
	
	top: 22%;
	right: 1%;
	width: 40%;
	height: 80%;
}

.titleHead li {
	display: inline-block;
	
	margin-left: 10%;

	font-size: 140%;
	
	text-align: center;
}

.titleHead a {
	color: white;
	text-decoration: none;
}

